@{
    ViewBag.Title = "Character";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GenshinImpact</title>
    <!-- add links of CSS and JavaScript and Fonts-->
    <link rel="stylesheet" href="~/wwwroot/css/Character.css">
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- js -->
    <script type="text/javascript" src="https://api.map.baidu.com/api?v=1.0&&type=webgl&ak=SS8266fxEG4qZ6AHRc8pI5NwncqpVq08">
    </script>
</head>
<body>

   

    <div id="navbar">
        <ul>
            <li><a href="#section1">Anemo</a></li>
            <li><a href="#section2">Geo</a></li>
            <li><a href="#section3">Electro</a></li>
            <li><a href="#section4">Dendro</a></li>
            <li><a href="#section5">Cryo</a></li>
            <li><a href="#section6">Hydro</a></li>
            <li><a href="#section7">Pyro</a></li>
        </ul>
    </div>

    <div id="content">
        <section id="section1">
            <h2>  <br></h2>
            <p>
                A bard that seems to have arrived on some unknown wind sometimes sings
                songs as old as the hills, and other times recites poems fresh and new.
                Likes apples and lively places, but is not a fan of cheese or anything sticky.
            </p>
            <div class="name1">
                <img src="~/wwwroot/image/name1.png" alt="Logo 1">
            </div>
            <div class="atom1">
                <img src="~/wwwroot/image/wind.png" alt="Logo 1">
            </div>
        </section>


        <section id="section2">
            <h2><br></h2>
            <p>
                Wangsheng Funeral Parlor mysterious consultant. Handsome, elegant, and surpassingly learned.
                Though no one knows where Zhongli is from, he is a master of courtesy and rules. From his
                seat at Wangsheng Funeral Parlor, he performs all manner of rituals.
            </p>
            <div class="name2">
                <img src="~/wwwroot/image/name2.png" alt="Logo 1">
            </div>
            <div class="atom2">
                <img src="~/wwwroot/image/stone.png" alt="Logo 1">
            </div>
        </section>

        <section id="section3">
            <h2><br></h2>
            <p>
                The Raiden Shogun is the awesome and terrible power of
                thunder incarnate, the exalted ruler of the Inazuma
                Shogunate.
                With the might of lightning at her disposal, she commits
                herself to the solitary pursuit of eternity.
            </p>
            <div class="name3">
                <img src="~/wwwroot/image/name3.png" alt="Logo 1">
            </div>
            <div class="atom3">
                <img src="~/wwwroot/image/storm.png" alt="Logo 1">
            </div>
        </section>

        <section id="section4">
            <h2><br></h2>
            <p>
                Lesser Lord Kusanali dwells deep in the Sanctuary of Surasthana,
                and has never really been in the limelight, nor has she even been
                mentioned much.
                Her burden is heavy, but though she may experience loneliness,
                and though darkness is all she sees before her, she will not stop moving forward.
            </p>
            <div class="name4">
                <img src="~/wwwroot/image/name4.png" alt="Logo 1">
            </div>
            <div class="atom4">
                <img src="~/wwwroot/image/grass.png" alt="Logo 1">
            </div>
        </section>

        <section id="section5">
            <h2><br></h2>
            <p>
                Administrator of the Fortress of Meropide, he was given
                Fontaine's highest honorary title of "Duke." Both low-profile
                and dependable.
            </p>
            <div class="name5">
                <img src="~/wwwroot/image/name5.png" alt="Logo 1">
            </div>
            <div class="atom5">
                <img src="~/wwwroot/image/ice.png" alt="Logo 1">
            </div>
        </section>

        <section id="section6">
            <h2><br></h2>
            <p>
                Star of the Zubayr Theater. Her dance is as graceful
                as water lily in first bloom, pure and pristine.
                But she is by no means a haughty and cold person. Even
                the most hurried traveler will not forget her innocent
                and radiant smile.
            </p>
            <div class="name6">
                <img src="~/wwwroot/image/name6.png" alt="Logo 1">
            </div>
            <div class="atom6">
                <img src="~/wwwroot/image/water.png" alt="Logo 1">
            </div>
        </section>

        <section id="section7">
            <h2><br></h2>
            <p>
                As the wealthiest gentleman in Mondstadt, the ever-dapper
                Diluc always presents himself as the epitome of perfection.
                But behind the courteous visage burns a zealous soul that has
                sworn to protect Mondstadt at all costs, allowing him to
                mercilessly vanquish all who threaten his city.
            </p>
            <div class="name7">
                <img src="~/wwwroot/image/name7.png" alt="Logo 1">
            </div>
            <div class="atom7">
                <img src="~/wwwroot/image/fire.png" alt="Logo 1">
            </div>
        </section>
    </div>

    <script src="~/wwwroot/js/scroll.js"></script>





    <!-- footer -->
    <footer>

        <!-- word -->
        <div class="contact-info">
            <div class="info">
                <a class="label">Email</a>
                <a class="value">13611451958@qq.com</a>
            </div>

            <div class="info">
                <a class="label">Phone number</a>
                <a class="value">+86-10-43-62</a>
            </div>

            <div class="info">
                <a class="value HoYo">HoYoverse</a>
            </div>

        </div>

        <!-- message board -->
        <div class="message-board">
            <h4>message board</h4>
            <div class="message-input">
                <input type="text" id="message" placeholder="typing some words here">
                <button id="submit">submit</button>
            </div>
            <ul class="message-list" id="message-list">
               
            </ul>
           
            <div id="successMessage" style="display: none;"></div>
        </div>
        <script src="~/wwwroot/js/board.js"></script>


        <!-- map -->
        <div class="location">
            <!-- use Baidu Maps insert map-->
            <div id="container"></div>
            <script>
                var map = new BMapGL.Map("container");
                var point = new BMapGL.Point(121.423258, 31.182332);
                map.centerAndZoom(point, 18);
                map.enableScrollWheelZoom(true);
                map.addControl(new BMap.NavigationControl())
                map.addControl(new BMap.OverviewMapControl());
                map.addControl(new BMap.LocationControl());

            </script>


            <!-- icon -->
        </div>
        <div class="social-media">
            <!-- icon of social media and some links -->
            <a href="https://www.facebook.com"><img src="~/wwwroot/image/Facebook.png" alt="Facebook"></a>
            <a href="https://www.instagram.com"><img src="~/wwwroot/image/Instagram.png" alt="Instagram"></a>
            <a href="https://www.twitter.com"><img src="~/wwwroot/image/Twitter.png" alt="Twitter"></a>
            <a href="https://www.youtube.com"><img src="~/wwwroot/image/YouTube.png" alt="YouTube"></a>
        </div>
        <div class="clear"></div>
    </footer>

    <script>
        const navbar = document.getElementById('navbar');
        const sections = document.querySelectorAll('section');
        const footer = document.querySelector('footer');

         
        const footerOffset = footer.offsetTop;

       
        window.addEventListener('scroll', function () {
           
            const scrollTop = window.scrollY;

           
            let currentSection = null;
            sections.forEach(section => {
                if (section.offsetTop - navbar.offsetHeight <= scrollTop) {
                    currentSection = section;
                }
            });

           
            if (currentSection) {
               
                const currentNavItem = navbar.querySelector(`[href="#${currentSection.id}"]`);
                const navItems = navbar.querySelectorAll('a');
                navItems.forEach(item => {
                    item.classList.remove('active');
                });
                currentNavItem.classList.add('active');
            }

            
            if (scrollTop >= footerOffset - navbar.offsetHeight) {
                navbar.style.position = 'absolute';
                navbar.style.top = `${footerOffset - navbar.offsetHeight}px`;
            } else {
                navbar.style.position = 'fixed';
                navbar.style.top = '0';
            }
        });
    </script>

</body>
</html>
