@model IEnumerable<WebApplication222222.Models.Element>

@{
    ViewBag.Title = "Index";
}
<head>
    <link rel="stylesheet" href="~/wwwroot/css/Element.css">
</head>





<div class="slider-container">
    <div class="image-container">
        <img src="~/wwwroot/image/wind.png" alt="wind">
    </div>
    <div class="image-container">
        <img src="~/wwwroot/image/stone.png" alt="stone">
    </div>
    <div class="image-container">
        <img src="~/wwwroot/image/storm.png" alt="storm">
    </div>
    <div class="image-container">
        <img src="~/wwwroot/image/grass.png" alt="grass">
    </div>
    <div class="image-container">
        <img src="~/wwwroot/image/ice.png" alt="ice">
    </div>
    <div class="image-container">
        <img src="~/wwwroot/image/water.png" alt="water">
    </div>
    <div class="image-container">
        <img src="~/wwwroot/image/fire.png" alt="fire">
    </div>
</div>
<button class="prev" onclick="plusSlides(-1)">&#10094;</button>
<button class="next" onclick="plusSlides(1)">&#10095;</button>

<script>
    let slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function showSlides(n) {
        let i;
        let slides = document.getElementsByClassName("image-container");
        if (n > slides.length) { slideIndex = 1; }
        if (n < 1) { slideIndex = slides.length; }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slides[slideIndex - 1].style.display = "block";
    }

</script>

<div class="friend">
    <img src="~/wwwroot/image/paimeng.png" alt="friend">
</div>




<h3 class="element-intro">
    In Genshin Impact, elements are key to both the storyline and gameplay.
    Tivat, the fantasy world, houses the Seven Kingdoms, each governed by a god
    representing one of the seven elements—Pyro, Hydro, Anemo, Electro, Dendro, Cryo,
    and Geo. Characters in the game, often equipped with the 'Eye of God,' can manipulate
    these elements, leading to diverse elemental reactions.
</h3>


<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Name, "Index", "Characters", new { Category = item.Name }, null)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "no-style-link" })
                </td>
            </tr>
        }
    </tbody>
</table>



<!-- footer -->
<footer>

    <!-- word -->
    <div class="contact-info">
        <div class="info">
            <a class="label">Email</a>
            <a class="value">13611451958@qq.com</a>
        </div>

        <div class="info">
            <a class="label">Phone number</a>
            <a class="value">+86-10-43-62</a>
        </div>

        <div class="info">
            <a class="value HoYo">HoYoverse</a>
        </div>

    </div>

    <!-- message board -->
    <div class="message-board">
        <h4>message board</h4>
        <div class="message-input">
            <input type="text" id="message" placeholder="typing some words here">
            <button id="submit">submit</button>
        </div>
        <ul class="message-list" id="message-list">
           
        </ul>
       
        <div id="successMessage" style="display: none;"></div>
    </div>
    <script src="~/wwwroot/js/board.js"></script>


    <!-- map -->
    <div class="location">
        <!-- use Baidu Maps insert map-->
        <div id="container"></div>
        <script>
            var map = new BMapGL.Map("container");
            var point = new BMapGL.Point(121.423258, 31.182332);
            map.centerAndZoom(point, 18);
            map.enableScrollWheelZoom(true);
            map.addControl(new BMap.NavigationControl())
            map.addControl(new BMap.OverviewMapControl());
            map.addControl(new BMap.LocationControl());

        </script>


        <!-- icon -->
    </div>
    <div class="social-media">
        <!-- icon of social media and some links -->
        <a href="https://www.facebook.com"><img src="~/wwwroot/image/Facebook.png" alt="Facebook"></a>
        <a href="https://www.instagram.com"><img src="~/wwwroot/image/Instagram.png" alt="Instagram"></a>
        <a href="https://www.twitter.com"><img src="~/wwwroot/image/Twitter.png" alt="Twitter"></a>
        <a href="https://www.youtube.com"><img src="~/wwwroot/image/YouTube.png" alt="YouTube"></a>
    </div>
    <div class="clear"></div>
</footer>


