@charset "UTF-8";
body{
    font-family: 'Maven Pro', Tahoma, sans-serif;
}

audio {
    display: none;
}





body, ul {
    margin: 0;
    padding: 0;
}

/* nav */
header {
    z-index: 2;
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    background-color: #242222; 
    color: #fff; 
    padding: 10px 0; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    height: 80px;
}

.logo img {
    max-height: 3em; 
    margin-left: 10px; 
}


nav ul {
    list-style: none; 
}

nav li {
    display: inline; 
    margin-right: 20px; 
}

nav a {
    text-decoration: none;
    color: #fff; 
    font-weight: bold; 
    font-family: 'Maven Pro', Tahoma, sans-serif;
}


nav a:hover {
    text-decoration: underline; 
}

.content {
    padding: 100px 0; 
}


body {
    font-family: 'Open Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #cccccfc4;
}

#navbar {
    width: 250px;
   position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    color: white;
    height: 100%;
    overflow-y: auto;
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center; 
    

}

#navbar ul {
    list-style: none;
    padding: 0;
    z-index: 1;
}
#navbar li {
    padding: 15px 20px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
    transform: scale(1); 
    z-index: 1;
}

#navbar li:hover {
    background-color: #555;
    transform: scale(1.05); 
    z-index: 1;
}


#navbar li a {
    text-decoration: none; 
    color: white; 
    z-index: 1;
    font-weight: bold;
    
}

#navbar ul li:nth-child(1) a.active {
    color: cyan;
    font-size: larger;
}

#navbar ul li:nth-child(2) a.active {
    color: rgb(231, 197, 28);
    font-size: larger;
}

#navbar ul li:nth-child(3) a.active {
    color: rgb(209, 72, 243);
    font-size: larger;
}

#navbar ul li:nth-child(4) a.active {
    color: rgb(32, 151, 32);
    font-size: larger;
}

#navbar ul li:nth-child(5) a.active {
    color: rgb(55, 155, 212);
    font-size: larger;
}


    #navbar ul li {
        background-image: url("/wwwroot/image/mengde.png"); 
        background-repeat: no-repeat; 
        background-position: 180px 10px; 
        padding-right: 20px; 
        background-size: 30px 30px;
    }

        #navbar ul li:nth-child(2) {
            background-image: url("/wwwroot/image/liyue.png"); 
            background-size: 30px 30px;
        }

        #navbar ul li:nth-child(3) {
            background-image: url("/wwwroot/image/daoqi.png"); 
            background-size: 30px 30px;
        }

        #navbar ul li:nth-child(4) {
            background-image: url("/wwwroot/image/xumi.png"); 
            background-size: 30px 30px;
        }

        #navbar ul li:nth-child(5) {
            background-image: url("/wwwroot/image/fengdan.png"); 
            background-size: 30px 30px;
        }


#content {
    margin-left: 250px;
    padding-top: 80px; 
    padding-bottom: 150px;
   
}

#section {
    padding: 90px;
    margin: 50px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    font-size: 16px; 
    height: 500px;
    z-index: 1;
}

p {
    line-height: 1.6;
    color: #f9f2f2;
    z-index: 1;
}
/* every section */
/* section1 */
#section1 {
    text-align: center;
    padding: 40px;
}


#section1 h2 {
    padding: 50px;
    font-size: 2.5em;
    color: #084a74;
    margin-bottom: 20px;
    text-align: center;
}

#section1 p {
    width: 45%;
    margin-left: 25%;
    padding-top: -20px;
    font-size: 1.2em;
    line-height: 1.6;
    color: rgb(4, 46, 87);
    font-weight: bold;
    margin-bottom: 30px;
    font-weight: bold;
    opacity: 0; 
    transition: opacity 2s, background-color 2s; 
    padding: 10px;
    border-radius: 5%;
    background-color: rgba(217, 240, 245, 0.414);
}

#section1 h2:hover + p {
    padding: 10px;
    border-radius: 5%;
    background-color: rgba(208, 238, 231, 0.428);
    opacity: 1; 
}

#section1 h2:hover {
   color: #05283e;
}
/* section2 */
#section2 {
    text-align: center;
    padding: 40px;
}


#section2 h2 {
    padding: 50px;
    font-size: 2.5em;
    color: #772d08;
    margin-bottom: 20px;
    text-align: center;
}

#section2 p {
    width: 45%;
    margin-left: 25%;
    padding-top: -20px;
    font-size: 1.2em;
    line-height: 1.6;
    color: rgb(79, 32, 37);
    font-weight: bold;
    margin-bottom: 30px;
    font-weight: bold;
    opacity: 0; 
    transition: opacity 2s, background-color 2s; 
    padding: 10px;
    border-radius: 5%;
    background-color: rgba(252, 243, 192, 0.404);
}

#section2 h2:hover + p {
    padding: 10px;
    border-radius: 5%;
    background-color: rgba(240, 221, 195, 0.486);
    opacity: 1; 
}

#section2 h2:hover {
   color: #421905;
}
/* section3 */
#section3 {
    text-align: center;
    padding: 40px;
}


#section3 h2 {
    padding: 50px;
    font-size: 2.5em;
    color: #f7eeef; 
    margin-bottom: 20px;
    text-align: center;
}

#section3 p {
    width: 45%;
    margin-left: 25%;
    padding-top: -20px;
    font-size: 1.2em;
    line-height: 1.6;
    color: rgb(255, 254, 254);
    font-weight: bold;
    margin-bottom: 30px;
    font-weight: bold;
    opacity: 0; 
    transition: opacity 2s, background-color 2s; 
    padding: 10px;
    border-radius: 5%;
    background-color: rgba(252, 192, 200, 0.39);
}

#section3 h2:hover + p {
    padding: 10px;
    border-radius: 5%;
    background-color: rgba(212, 82, 126, 0.219);
    opacity: 1; 
}

#section3 h2:hover {
   color: #f3cbe0;
}
/* section4 */

#section4 {
    text-align: center;
    padding: 40px;
}


#section4 h2 {
    padding: 30px;
    font-size: 2.5em;
    color: #0c202e; 
    margin-bottom: 20px;
    text-align: center;
}



#section4 p {
    width: 45%;
    margin-left: 25%;
    padding-top: -20px;
    font-size: 1.2em;
    line-height: 1.6;
    color: rgb(15, 15, 15);
    font-weight: bold;
    margin-bottom: 30px;
    font-weight: bold;
    opacity: 0;
    transition: opacity 2s, background-color 2s; 
    padding: 10px;
    border-radius: 5%;
    background-color: rgba(124, 217, 235, 0.332);
}

#section4 h2:hover + p {
    padding: 10px;
    border-radius: 5%;
    background-color: rgba(124, 217, 235, 0.428);
    opacity: 1; 
}

#section4 h2:hover {
   color: #043650;
}

/* section5 */
#section5 {
    text-align: center;
    padding: 40px;
}


#section5 h2 {
    padding: 40px;
    font-size: 2.5em;
    color: #1f5980; 
    margin-bottom: 20px;
    text-align: center;
}



#section5 p {
    width: 45%;
    margin-left: 25%;
    padding-top: -20px;
    font-size: 1.2em;
    line-height: 1.6;
    color: rgb(28, 67, 85);
    font-weight: bold;
    margin-bottom: 30px;
    font-weight: bold;
    opacity: 0; 
    transition: opacity 2s, background-color 2s; 
    padding: 10px;
    border-radius: 5%;
    background-color: rgba(164, 221, 231, 0.616);
}

#section5 h2:hover + p {
    padding: 10px;
    border-radius: 5%;
    background-color: rgba(177, 227, 238, 0.545);
    opacity: 1; 
}

#section5 h2:hover {
   color: #043650;
}


/* 
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}
 */


#section1 {
    background: linear-gradient(to bottom left, #a6dcf7, #a1e0d2);
}

#section2 {
    background: linear-gradient(to bottom right, #e9e2c6, #e4eb95);
}

#section3 {
    background: linear-gradient(to bottom right, #f3e3f3ed, #f6baf6f4);
}

#section4 {
    background: linear-gradient(to bottom left, #b7dcd0, #7ee8d6);
}

#section5 {
    background: linear-gradient(to bottom right, #6fa3e1, #39c2e7);
}



#section1 {
    background-image: url('/wwwroot/image/1024_1.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    padding: 90px; 
    margin: 50px; 
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    font-size: 16px;
    height: 500px;
}



#section2 {
    background-image: url('/wwwroot/image/1024_2.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff; 
    padding: 90px; 
    margin: 50px; 
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    font-size: 16px;
    height: 500px;
}

#section3 {
    background-image: url('/wwwroot/image/1024_3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff; 
    padding: 90px; 
    margin: 50px; 
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    font-size: 16px;
    height: 500px;
}

#section4 {
    background-image: url('/wwwroot/image/1024_4.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff; 
    padding: 90px; 
    margin: 50px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    font-size: 16px;
    height: 500px;
}

#section5 {
    background-image: url('/wwwroot/image/1024_5.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff; 
    padding: 90px; 
    margin: 50px; 
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    font-size: 16px;
    height: 500px;
}


/* Add any additional styling for sections, images, or text here */



/* footer */

footer {
    background-color: #333;
    color:#f9f9f9;
    padding: 20px;
    text-align: center;
    z-index: 8;
    }
/* 
.clear {
    clear: both;
} */

/* map */
    
#container{
    width: 100%; /* Make the map container responsive */
    padding-bottom: 100%; /* Set the aspect ratio of the map container (1:1 in this case) */
    position: relative; /* Required for padding-bottom to work */
    border: #c3f0f5 solid 5px;
    border-radius: 5%;
    z-index: 3;
}

.location {
    margin-left: 15%;
    margin-bottom: 5%;
    margin-top: -20%;
    width: 25%;
    z-index: 3;
}

/* word */

.contact-info{
    position:absolute;
    margin-top: 8%;
    margin-left: 45%;
    color:#fff;
    font-size: larger;
    z-index: 3;
}

.info {
    margin-bottom: 10px; 
    z-index: 3;
}

.label {
    font-weight: bold;
    color: rgb(79, 165, 251);
    z-index: 3;
}

.value {
    margin-left: 10px; 
    z-index: 3;
}
.contact-info :last-child{
    font-weight: bold;
    z-index: 3;
}
.HoYo:hover{
    color: dodgerblue;
    font-size:larger;
    transition: all 1s;
    z-index: 3;
}

/* board */

.message-board {
    width: 30%;
    margin-top:18%;
    margin-left: 45%;
    background-color:rgb(73, 153, 234);
    padding: 1%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 3;
}

h4 {
    text-align: center;
    color:aliceblue;
    z-index: 3;
}

.message-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    z-index: 3;
}

#message {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 10px;
    z-index: 3;
}

#submit {
    background-color:rgb(19, 85, 198);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 10px;
    z-index: 3;
}

.message-list {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    z-index: 3;
}

.message-list li {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    z-index: 3;
}
/* icon */
    
.social-media{
    position: absolute;
    left: 10%;
    z-index: 3;

}
    

.social-media a img{
    /* float: left; */
    width: 4%;
    height: 4%;
    margin-top: -8%;
    margin-right: 1ex;
    z-index: 3;
}


